<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj.dfmanager.mapper.ModelMapper">

    <select id="queryList" resultType="com.bj.dfmanager.entity.Model">
        SELECT m.*,mg.GRADE AS GRADE_ID,tkv.VALUE1 AS GRADE_NAME,u.REAL_NAME,
        a.FULL_NAME as department_name,au.REAL_NAME AS APPLY_USER_NAME FROM DFMANAGER.T_MODEL m
        LEFT JOIN DFMANAGER.T_MODEL_GRADE mg on m.ID = mg.MODEL_ID
        LEFT JOIN (SELECT TO_NUMBER(KEY) AS KEY,VALUE1 FROM DFMANAGER.F_TASK_KEY_VALUE WHERE TYPE='DJFL') tkv
            ON tkv.KEY = mg.GRADE
        LEFT JOIN DFMANAGER.T_USER u ON u.USER_ID = m.USER_ID
        LEFT JOIN DFMANAGER.T_DEPT A ON m.DEPARTMENT = A.ID
        LEFT JOIN DFMANAGER.T_USER au ON au.USER_ID = m.APPLY_USER
        WHERE 1 = 1
        <if test="modelName != null and modelName != ''">
            and m.MODEL_NAME like '%'||#{modelName}||'%'
        </if>
        <if test="modelStatus != null and modelStatus != ''">
            and m.MODEL_STATUS = #{modelStatus}
        </if>
        <if test="userId != null and userId != ''">
            and m.USER_ID = #{userId}
        </if>
        ORDER BY m.CREATE_TIME DESC
    </select>

    <select id="queryPublicList" resultType="com.bj.dfmanager.entity.Model">
        SELECT m.*,mg.GRADE AS GRADE_ID,tkv.VALUE1 AS GRADE_NAME,u.REAL_NAME,a.FULL_NAME as department_name,
        au.REAL_NAME AS APPLY_USER_NAME FROM DFMANAGER.T_MODEL m
        LEFT JOIN DFMANAGER.T_MODEL_GRADE mg on m.ID = mg.MODEL_ID
        LEFT JOIN (SELECT TO_NUMBER(KEY) AS KEY,VALUE1 FROM DFMANAGER.F_TASK_KEY_VALUE WHERE TYPE='DJFL') tkv
        ON tkv.KEY = mg.GRADE
        LEFT JOIN DFMANAGER.T_USER u ON u.USER_ID = m.USER_ID
        LEFT JOIN DFMANAGER.T_DEPT A ON m.DEPARTMENT = A.ID
        LEFT JOIN DFMANAGER.T_USER au ON au.USER_ID = m.APPLY_USER
        WHERE 1 = 1 AND MODEL_TYPE = 'Y'
        <if test="modelName != null and modelName != ''">
            and m.MODEL_NAME like '%'||#{modelName}||'%'
        </if>
        <if test="modelStatus != null and modelStatus != ''">
            and m.MODEL_STATUS = #{modelStatus}
        </if>
        ORDER BY m.CREATE_TIME DESC
    </select>

</mapper>
