<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj.dfmanager.mapper.ModelResultMapper">

    <select id="queryResultList" resultType="com.bj.dfmanager.entity.ModelResult">
        SELECT mr.*,m.MODEL_NAME,m.MODEL_DESC FROM DFMANAGER.T_MODEL_RESULT mr
        LEFT JOIN DFMANAGER.T_MODEL m on mr.MODEL_ID = m.ID
        WHERE 1 = 1
        <if test="modelName != null and modelName != ''">
            and m.MODEL_NAME like '%'||#{modelName}||'%'
        </if>
        <if test="warnFlag != null and warnFlag != ''">
            and mr.WARN_FLAG = #{warnFlag}
        </if>
        <if test="certNo != null and certNo != ''">
            and mr.PASSPORTNO like '%'||#{certNo}||'%'
        </if>
        <if test="fltno != null and fltno != ''">
            and mr.FLTNO like '%'||#{fltno}||'%'
        </if>
        <if test="fltDateStart != null and fltDateStart != ''">
            and mr.FLTNODATE &gt;= #{fltDateStart}
        </if>
        <if test="fltDateEnd != null and fltDateEnd != ''">
            and mr.FLTNODATE &lt;= #{fltDateEnd}
        </if>
        <if test="userId != null and userId != ''">
            and m.USER_ID = #{userId}
        </if>
        ORDER BY mr.CREATE_TIME desc
    </select>

    <select id="modelCountTrend" resultType="java.util.Map">
        SELECT BUSI_HOUR HOUR,IFNULL(SUM(TOTAL),0) COUNT FROM T_MODEL_RESULT_COUNT
        WHERE BUSI_DATE = TO_CHAR(TRUNC(SYSDATE),'YYYYMMDD')
        <if test="id != null and id != ''">
            AND MODEL_ID = #{id}
        </if>
        GROUP BY BUSI_HOUR ORDER BY BUSI_HOUR
    </select>

    <select id="modelTimeTrend" resultType="java.util.Map">
        SELECT CONCAT(A.BUSI_HOUR,A.MODEL_ID) KEY,A.BUSI_HOUR HOUR,A.MODEL_ID,B.MODEL_NAME,
        ROUND(IFNULL(SUM(A.DURATION),0)/COUNT(1),0) VALUE
        FROM T_MODEL_RESULT_COUNT A
        LEFT JOIN T_MODEL B ON A.MODEL_ID=B.ID
        WHERE A.BUSI_DATE = TO_CHAR(TRUNC(SYSDATE),'YYYYMMDD')
        <if test="id != null and id != ''">
            AND A.MODEL_ID = #{id}
        </if>
        group by A.BUSI_HOUR,A.MODEL_ID,B.MODEL_NAME
        ORDER BY A.BUSI_HOUR,A.MODEL_ID
    </select>

</mapper>
