<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bj.dfmanager.mapper.ModelDemandLogMapper">

    <select id="queryModelDemandLog" resultType="com.bj.dfmanager.entity.ModelDemandLog">
        SELECT log.*,md.MODEL_NAME,u.USER_NAME
        FROM DFMANAGER.T_MODEL_DEMAND_LOG log
        LEFT JOIN DFMANAGER.T_USER u ON u.USER_ID = log.OPERATE_USER
        LEFT JOIN DFMANAGER.T_MODEL_DEMAND md ON md.ID = log.MODEL_DEMAND_ID
        WHERE 1 = 1
        <if test="modelName != null and modelName != ''">
            and md.MODEL_NAME like '%'||#{modelName}||'%'
        </if>
        <if test="userName != null and userName != ''">
            and u.USER_NAME like '%'||#{userName}||'%'
        </if>
        ORDER BY log.OPERATE_TIME DESC
    </select>

</mapper>
